*, *::before, *::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: #EDEDED;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    vertical-align: top;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 1 auto;
}

[class*="container"] {
    max-width: 1087px;
    margin: 0 auto;
    padding: 0 15px; /* safety*/
}

/*adaptive with breakpoints*/
/*for PC*/
@media (max-width: 1087px) {
    [class*="container"] {
        max-width: 970px;
    }
}

/*for Tablet*/
@media (max-width: 991.98px) {
    [class*="container"] {
        max-width: 750px;
    }
}

/*for phone*/
@media (max-width: 767.98px) {
    [class*="container"] {
        max-width: none;
    }
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
}

.header__container {
    display: flex;
    min-height: 80px;
    align-items: center;
}

.header__menu {
    flex: 1 1 auto;
}

.header-logo__img {
    width: 250px;
    height: 50px;
}

.header__button {
    flex: 0 1 auto;
    display: flex;
    justify-content: flex-end;
}


.menu {
    display: flex;
    justify-content: center;
}

.menu__list {
    display: flex;
}

.menu__item:hover{
    border-radius: 5px;
    transition: color 0.3s ease 0s;
}

.with_icon:hover{
    background-color: white;
}

.search-bar__container{
    background-color: #EDEDED;
    height: 30px;
    margin-top: -7px;
    border-radius: 10px;
}

.search-bar__input{
    background-color: #EDEDED;
    height: 20px;
    width: 40px;
    margin-top: 5px;
}

.search_logo{
    height: 10px;
    width: 10px;
    margin-top: 8px;
}

.menu__item {
    margin: 20px 25px 0 0;
}

.with_icon {
    position: relative;
    display: block;
    margin-top: 5px;
}

.fa-solid{
    color: #737373;
    font-size: 22px;
    padding-left: 40px;
}

.fa-regular{
    color: #737373;
    font-size: 22px;
    padding-left: 6px;
}

span.cart-header_icon{
    position: absolute;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    background-color: #81A9DF;
    color: white;
    font-size: 12px;
}

.menu__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    color: #004aad;
}

.title_hi{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    color: #5A8CF2;
    text-decoration: underline;
}

.menu__link:hover {

}

@media (max-width: 991.98px) {
    .header__container {
        min-height: 60px;
    }

    .menu__item {
        margin: 0 10px 10px 0;
    }

    .header__button {
        flex: 0 0 50px;
    }

    .header-logo__img {
        width: 200px;
        height: 40px;
    }
}

.menu__link-img {
    width: 27px;
    height: 27px;
    margin: 0 0 0 10px;
}

.order {
    margin: 0 0 0 20px;
}

.menu__item-icon {
    flex: 0 0 25px;
    align-self: end;
}

.blue {
    color: #004aad;
}

.main-page_text{
    font-size: 14px;
    font-weight: bold;
    color: #3F7DD1;
}


.button {
    display: inline-block;
    font-weight: 650;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    transition: background-color 0.3s ease 0s;
    background-color: #3F7DD1;
}

.button_blue {
    background-color: #004aad;
}

.button_blue:hover {
    background-color: #3A76C6;
}

/*____________________text_block____________________*/
.block-text {

}

.block-text__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 126%;
    color: #162942;
}

.block-text__title:not(:last-child) {
    margin: 0 0 20px 0;
}

.block-text__title span {

}

.block-text__title_blue span {
    color: #3F7DD1;
}

.block-text__text {
    font-size: 17px;
    line-height: 138.5%;
}

.block-text__text:not(:last-child) {
    margin: 0 0 24px 0;
}

/*____________________main_block____________________*/

.get-started {
    background-color: #D3D3D3;
    padding: 150px 0 50px 0;
}

.get-started__container {
    display: flex;
}

.get-started__content {
    flex: 0 1 50%;
    align-items: center;
    padding: 0 20px;
}

.get-started__image {
    flex: 0 0 50%;
}

.get-started__image img {
    max-width: 100%;
    height: 400px;
    width: 370px;
}

.get-started__block-text {
    max-width: 410px;
}

.block-text__button:hover {
    background-color: #81A9DF;
}

/*____________________brands_block____________________*/

.brands{
    padding: 50px 0 50px 0;
}

.brands-statistics{
    max-width: 100%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 2px 24px rgba(115, 115, 115, 1);
    border-radius: 16px;
}

.title{
    padding: 0 0 20px 30px;
    font-size: 24px;
    color: #162942;
}
.brands__title{
    background: url("../img/brand.png") left no-repeat;
}

.brands-names:nth-child(even){
    width: 12%;
    height: 70px;
    margin: 10px 20px;
}

.brands-names:nth-child(odd){
    width: 28%;
    height: 70px;
    margin: 10px 10px;
}

.brand-flex{
    padding: 5px;
    display: flex;
    align-items: center;
    flex: 1 1 50%;
}

/*______________________________________*/
.recent-column{
    padding: 0 36px;
    flex: 0 1 33.333%;
}
.recent-review__items{
    display: flex;
    margin: 0 -36px;
}

.recent-review__item{
    max-width: 100%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 2px 24px rgba(115, 115, 115, 1);
    border-radius: 16px;
    text-align: center;
    align-items: center;
    padding: 10px;
}

.recent-review__item__title{
    font-size: 12px;
    line-height: 138.5%;
    color: #737373;
    margin: 10px;
}

.recent-review__item__text{
    font-weight: 700;
    font-size: 16px;
    line-height: 138.5%;
    color: #162942;
    margin: 10px;
}

.recent-review__item__name{
    color: #162942;
}
/*______________________________________*/

.bestsellers__container{
    margin-top: 40px;
}

.bestsellers-column{
    padding: 0 36px;
    flex: 0 1 33.333%;
}
.bestsellers__items{
    display: flex;
    margin: 0 -36px;
}

.bestsellers__item{
    max-width: 100%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 2px 24px rgba(115, 115, 115, 1);
    border-radius: 16px;
    text-align: center;
    align-items: center;
}

.bestsellers__item__title{
    font-weight: 700;
    font-size: 16px;
    line-height: 138.5%;
    color: #162942;
    margin: 10px;
}

.bestsellers__item__text{
    font-weight: 700;
    font-size: 16px;
    line-height: 138.5%;
    color: #162942;
    margin: 10px;
}

.bestsellers_img{
    width: 80%;
    height: 50%;
}
/*______________________________________*/

.doctors-reviews__container{
    margin-top: 40px;
}

.doctors-reviews-column{
    padding: 0 36px;
    flex: 0 1 33.333%;
}
.doctors-reviews__items{
    display: flex;
    margin: 0 -36px;
}

.doctors-reviews__item{
    max-width: 100%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 2px 24px rgba(115, 115, 115, 1);
    border-radius: 16px;
    text-align: center;
    align-items: center;
}

.doctors-reviews__item__title{
    font-weight: 700;
    font-size: 16px;
    line-height: 138.5%;
    color: #162942;
    margin: 10px;
}

.doctors-reviews__item__text{
    font-weight: 700;
    font-size: 16px;
    line-height: 138.5%;
    color: #162942;
    padding: 15px;
}

.doctors-reviews_img{
    padding: 10px;
    width: 80%;
    height: 45%;
}

.doctors-reviews__item__title span{
    display: inline-block;
    font-size: 12px;
    line-height: 138.5%;
    color: #737373;
    margin: 10px;
}

/*______________________________________*/


.footer{
    margin-top: 10px;
    padding: 30px;
    font-size: 18px;
    text-align: center;
    background: white;
}


/*_____________________drop-down menu_____________*/
.menu {
}

.drop-menu a {
    text-decoration: none;
}

.drop-menu li {
    position: relative;
    list-style: none;
}

.drop-menu__list {
    display: flex;
}

/*for first level li*/
.drop-menu__list > li {
    margin: 0 10px 0 0;
}

.drop-menu__list > li:hover .sub-menu__list {
    display: block;
}

.sub-menu__list {
    display: none;
    min-width: 150px;
    position: absolute;
    left: 0;
    top: 15px;
    padding: 1px 0 0 0;
}

.sub-menu__list > li {
background-color: #EDEDED;
}

.sub-menu__list>li:hover, .sub-sub-menu__list>li:hover{
    background-color: #81A9DF;
}

.sub-menu__list > li:hover .sub-sub-menu__list {
    display: block;
}

.sub-menu__link {
    color: #004aad;
    display: inline-block;
    padding: 5px 10px;
}

.sub-sub-menu__list {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 300px;
    padding: 0 0 0 1px;
}

.sub-sub-menu__list > li {
background-color: #EDEDED;
}


.sub-sub-menu__link {
    color: #004aad;
    display: inline-block;
    padding: 5px 10px;
}


/*_____________________form________________*/


.form {
    max-width: 50%;
    margin: 0 auto;
    color: #162942;
    padding: 50px 0;
}

.form__title {
    font-size: 25px;
    font-weight: 700;
    margin: 50px 0 30px 0;
}

.form__item {
    margin: 0 0 20px 0;
}

.form__label {
    font-size: 18px;
    display: block;
    margin: 0 0 10px 0;
}

.form__input {
    height: 30px;
    padding: 0 20px;
    border-radius: 5px;
    width: 90%;
    font-size: 16px;
}

.form__input._error {
    box-shadow: 0 0 15px red;
}

.checkbox__label {
    font-size: 16px;
    line-height: 140%;
    display: inline-flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.checkbox__label::before {
    content: "";
    align-self: flex-start;
    flex: 0 0 24px;
    height: 24px;
    background-color: white;
    border-radius: 4px;
    margin: 0 10px 0 0;
}

.checkbox._error .checkbox__label::before {
    box-shadow: 0 0 15px red;
}

.checkbox__input {
    display: none;
}

.checkbox__input:checked + .checkbox__label::after {
    transform: scale(1);
}

.checkbox__label::after {
    transition: transform 0.5s ease 0s;
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    top: 4px;
    left: 4px;
    background-color: #81A9DF;
    border-radius: 4px;
    transform: scale(0);
}

.form__button {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    background-color: #004aad;
    color: white;
    font-size: 13px;
    font-weight: 650;
    text-transform: uppercase;
    line-height: 12px;
    padding: 10px 15px;
    border-radius: 10px;
    transition: background-color 0.5s ease 0s;
    position: relative;
    top: 0;
}

.form__button:hover {
    background-color: #81A9DF;
}

.form__button:active{
    top: 3px;
}

.user-auto__image {
    flex: 0 0 40%;
    margin-top: 170px;
}

.user-auto__image img {
    max-width: 100%;
    height: 400px;
    width: 390px;
}

/*____________________popup_______________________*/

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
}

.popup.open {
    opacity: 1;
    visibility: visible;
}

.popup.open .popup__content {
    transform: translate(0px, 0px);
    opacity: 1;
}

.popup__area{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup__content {
    background-color: #F8F4F4;
    color: #162942;
    max-width: 800px;
    padding: 30px;
    position: relative;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: translate(0px,-100%);
}

.popup__title {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 1em 0;
}

.popup__text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup__img {
    height: 80px;
    width: 90px;
}

.popup__close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: #162942;
    text-decoration: none;
}